.services-section{
    width: 90rem;
    max-width: 100%;
    margin: 5rem auto;
    padding: 2rem;
}

/* SERVICES HEADER */
.service-header{
    width: 13.8rem;
    max-width: 100%;
    margin-bottom: 5rem;
}
.services-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.3;
}
.service-hr{
    color: #000;
    margin-top: .5rem;
    border: 2px solid #3088A4;
    border-bottom: 0;
}

/* SERVICES LIST SECTION */

.services-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    width: 90rem;
    max-width: 100%;
}


.box-one{
    background-image: url('../../images/services/Digital.png');
}
.box-two{
    background-image: url('../../images/services/employment.png');
}
.box-three{
    background-image: url('../../images/services/youth-adult.png');
}
.box-four{
    background-image: url('../../images/services/community.png');
}
.box-five{
    background-image: url('../../images/services/tutorial.png');
}
.box-six{
    background-image: url('../../images/services/service6.png');
}
.services-box{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    max-width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    margin-bottom: 4rem;
    position: relative;
    cursor: pointer;
    
}
.services-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Initial transparent background */
  transition: background-color 0.3s ease; /* Smooth transition */
}
.services-box:hover::before {
  background-color: rgba(0, 0, 0, 0.8); /* Darkens the background */
}

.menu-one-title{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Or any color you prefer */
    width: 21rem;
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Ensure the text stays above the background */
    padding: 10px; /* Add some padding to make space for the border */
    transition: border 0.3s ease-in-out; /* Smooth transition for border */
  }
  .services-box:hover .menu-one-title {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width: 21rem;
  }

  @media screen and (max-width: 1370px) {
    .services-box{
        width: 22rem;
        height: 22rem;
    }
  }

  @media screen and (max-width: 1240px) {
    .services-box{
        width: 20rem;
        height: 20rem;
    }
  }
  @media screen and (max-width: 1130px) {
    .services-list{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
        width: 55rem;
        margin: 0 auto;
    }
    .services-box{
        width: 25rem;
        height: 25rem;
    }
  }
  @media screen and (max-width: 920px) {
    .services-list{
        width: 45rem;
    }
    .services-box{
        width: 20rem;
        height: 20rem;
    }
  }
  @media screen and (max-width: 760px) {
    .services-list{
        width: 40rem;
    }
    .services-box{
        width: 17rem;
        height: 17rem;
    }
    .menu-one-title{
        font-size: 1.5rem;
        width: 16rem;
      }
      .services-box:hover .menu-one-title {
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15rem;
        width: 16rem;
      }
    
  }
  @media screen and (max-width: 662px) {
    .services-list{
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
        margin: 0 auto;
        width: 24rem;
    }
    .services-box{
        width: 24rem;
        height: 24rem;
    }
    .services-box:hover .menu-one-title {
        height: 19rem;
        width: 19rem;
      }
      .menu-one-title{
        font-size: 1.8rem;
        width: 19rem;
      }

  }
  @media screen and (max-width: 450px) {
    .services-list{
        width: 20rem;
    }
    .services-box{
        width: 20rem;
        height: 20rem;
    }
    .services-box:hover .menu-one-title {
        height: 17rem;
        width: 17rem;
      }
      .menu-one-title{
        font-size: 1.5rem;
        width: 17rem;
      }

  }
  @media screen and (max-width: 390px) {
    .services-list{
        width: 18rem;
    }
    .services-box{
        width: 18rem;
        height: 18rem;
    }
    .services-box:hover .menu-one-title {
        height: 15rem;
        width: 15rem;
      }
      .menu-one-title{
        font-size: 1.4rem;
        width: 15rem;
      }

  }



