.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}
.popup-inner{
    position: relative;
    width: 40rem;
    max-width: 100%;
    background-color: #fff;

}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 2rem;
    cursor: pointer;
    transition: all .1s ease;
    z-index: 9999;
}
.popup-inner .close-btn:hover{
    transform: scale(1.1);
}
.popup-inner .close-btn{
    color: #fff;
}
.popup-image {
  cursor: pointer;
  width: 40rem;
  max-width: 100%; /* Or any size you prefer */

  height: 100%;
}

@media screen and (max-width: 600px) {
    .popup-inner .close-btn{
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all .1s ease;
        z-index: 9999;
    }

}