.mission-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 73rem;
    max-width: 100%;
    margin: 5rem auto 3rem auto;
    padding: 1.5rem;
}
.mission-section{
    display: grid;
    width: 73rem;
    height: 100%;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    grid-template-rows: repeat(2, 1fr);
    /* position: relative; */
}

.mission{
    grid-column: 1/3;
    background-color: #3271AA;
}
.vision{
    grid-column: 1/2;
    grid-row: 2;
    background-color: #AA3232;
}
.values{
    grid-column: 2/3;
    grid-row: 2;
    background-color: #bdb03b;
    /* position: absolute;

    top: 9rem;
    left: 30rem; */
}
.mission{
    width: 70rem;
    max-width: 100%;
    color: #fff;
    padding: 2rem;
}

.values,
.vision{
    width: 35rem;
    max-width: 100%;
    height: 25rem;
    color: #fff;
    padding: 2rem;
}
.mission-text{
    /* width: 25rem; */
    max-width: 100%;
    line-height: 1.8;
    color: #fff;
    font-size: 1.1rem;
    text-align: justify;
}
.vision-text{
    /* width: 26rem; */
    max-width: 100%;
    line-height: 1.8;
    color: #fff;
    font-size: 1.1rem;
    text-align: justify;
}
.values-text{
    /* width: 30rem; */
    max-width: 100%;
    line-height: 1.8;
    color: #fff;
    font-size: 1.1rem;
    text-align: justify;
}
.mission-title,
.vision-title,
.values-title{
    font-size: 1.7rem;
    margin: 1rem 0;
    font-weight: 600;
}


.mission-img,
.vision-img,
.values-img{
    width: 5rem;
}

@media screen and (max-width: 1180px) {
    .mission-container{
        width: 59rem;
    }
    .mission{
        width: 56rem;
        max-width: 100%;
        color: #fff;
        padding: 2rem;
    }
    
    .values,
    .vision{
        width: 28rem;
        max-width: 100%;
        height: 25rem;
        color: #fff;
        padding: 2rem;
    }
    .mission-text{
        font-size: 1rem;
    }

    .vision-text{
        width: 26rem;
        max-width: 100%;
        font-size: 1rem;
    }
    .values-text{
        width: 30rem;
        font-size: 1rem;
    }  
}
@media screen and (max-width: 950px) {
    .mission-container{
        width: 49rem;
    }
    .mission{
        width: 46rem;
    }
    
    .values,
    .vision{
        width: 23rem;
        height: 27rem;
    }

}
@media screen and (max-width: 790px) {
    .mission-section{
        display: flex;
        flex-direction: column;
    }
    .mission-container{
        width: 33rem;
    }
    .mission{
        width: 30rem;
        height: 100%;
    }
    .vision{
        width: 30rem;
        height: 22rem;
    }
    .values{
        width: 30rem;
        height: 23rem;
    }
    .mission-text{
        font-size: 1rem;
    }
    .vision-text{
        font-size: 1rem;
    }
    .values-text{
        font-size: 1rem;
    }  

}
@media screen and (max-width: 530px) {

    .mission-container{
        width: 29rem;
    }

    .vision,
    .mission{
        width: 26rem;
    }
    .values{
        width: 26rem;
        height: 25rem;
    }
    .mission-text{
        font-size: 1rem;
    }
    .vision-text{

        font-size: 1rem;
    }
    .values-text{
        font-size: 1rem;
    }  

}
@media screen and (max-width: 470px) {

    .mission-container{
        width: 23rem;
        padding: 1rem;
    }
    .mission{
        width: 21rem; 
    }
    .vision{
        width: 21rem;

    }
    .values{
        width: 21rem;
        height: 100%;
    }
    .mission-img,
    .vision-img,
    .values-img{
        width: 4rem;
    }
    .vision-text,
    .mission-text,
    .values-text{
        font-size: .9rem;
    }

    .mission-title,
    .vision-title,
    .values-title{
        font-size: 1.4rem;
        margin: 1rem 0;
        font-weight: 600;
    }

}