
.member-list-header{
    width: 35rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}
.member-header{
    width: 31rem;
    max-width: 100%;
    text-transform: uppercase;
}
.member-title{
    font-size: 2rem;
    font-weight: 500;
}
.member-hr{
    color: #000;
    margin-top: .5rem;
    border: 2px solid #3088A4;
    border-bottom: 0;
}
.member-list-section{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    width:  50rem;
    max-width: 100%;
    margin: 3rem auto;
    row-gap: 3rem;
    padding: 2rem;
}
.member-one{
    grid-column: 1/3;
    grid-row: 1;
    width: 20rem;
    margin: 0 auto;
}
.member-two{
    grid-column: 1/2;
    grid-row: 2;
    width: 20rem;
    margin: 0 auto;
}
.member-three{
    grid-column: 2/3;
    grid-row: 2;
    width: 20rem;
    margin: 0 auto;
}
/* .member-four{
    grid-column: 3/4;
    grid-row: 2;
} */
/* .member-five{
    grid-column: 1/2;
    grid-row: 3;
    width: 20rem;
    margin: 0 auto;
} */
/* .member-six{
    grid-column: 2/3;
    grid-row: 3;
    width: 20rem;
    margin: 0 auto;
} */
.member-seven{
    grid-column: 1/2;
    grid-row: 3;
    width: 20rem;
    margin: 0 auto;
}
.member-eight{
    grid-column: 2/3;
    grid-row: 3;
    width: 20rem;
    margin: 0 auto;
}
.member-img{
    width: 20rem;
    height: 25rem;
    object-fit: cover;
}



@media screen and (max-width: 740px) {
    .member-list-section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        width: 32rem;
    }
    .member-list-header{
        width: 32rem;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
    
    }
    .member-header{
        width: 32rem;
        max-width: 100%;
        text-transform: uppercase;
    }
    .member-title{
        font-size: 1.8rem;
        font-weight: 500;
    }
    .member-hr{
        color: #000;
        margin-top: .5rem;
        border: 2px solid #3088A4;
        border-bottom: 0;
    }
    .member-img{
        width: 28rem;
        height: 28rem;
    }
    .member-one{
        grid-column: 1/2;
        grid-row: 1;
        width: 28rem;
    }
    .member-two{
        grid-column: 1/2;
        grid-row: 2;
        width: 28rem;
    }
    .member-three{
        grid-column: 1/2;
        grid-row: 3;
        width: 28rem;
    }
    /* .member-four{
        grid-column: 1/2;
        grid-row: 4;
    } */


    .member-five{
        grid-column: 1/2;
        grid-row: 4;
        width: 22rem;
    }
    /* .member-six{
        grid-column: 1/2;
        grid-row: 6;
        width: 22rem;
    } */
    .member-seven{
        grid-column: 1/2;
        grid-row: 5;
        width: 22rem;
    }
    .member-eight{
        grid-column: 1/2;
        grid-row: 5;
        width: 22rem;
    }


}
@media screen and (max-width: 520px) {

    .member-list-header{
        width: 29rem;
    }
    .member-header{
        width: 27rem;
    }
    .member-title{
        font-size: 1.6rem;
    }
        .member-img{
        width: 25rem;
        height: 29rem;
    }
        .member-one{
        grid-column: 1/2;
        grid-row: 1;
        width: 25rem;
    }
    .member-two{
        grid-column: 1/2;
        grid-row: 2;
        width: 25rem;
    }
    .member-three{
        grid-column: 1/2;
        grid-row: 3;
        width: 25rem;
    }


    /* .member-six{
        grid-column: 1/2;
        grid-row: 5;
        width: 20rem;
    } */
    .member-seven{
        grid-column: 1/2;
        grid-row: 4;
        width: 20rem;
    }
    .member-eight{
        grid-column: 1/2;
        grid-row: 5;
        width: 20rem;
    }
}

@media screen and (max-width: 465px) {
        .member-list-header{
        width: 25.5rem;
        padding: 0 1rem;
    }
    .member-header{
        width: 25rem;
    }
    .member-title{
        font-size: 1.5rem;
    }
    .member-list-section{
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .member-img{
        width: 20rem;
        height: 25rem;
    }
    .member-one{
        grid-column: 1/2;
        grid-row: 1;
        width: 20rem;
    }
    .member-two{
        grid-column: 1/2;
        grid-row: 2;
        width: 20rem;
    }
    .member-three{
        grid-column: 1/2;
        grid-row: 3;
        width: 20rem;
    }


    /* .member-six{
        grid-column: 1/2;
        grid-row: 5;
        width: 20rem;
    } */
    .member-seven{
        grid-column: 1/2;
        grid-row: 4;
        width: 20rem;
    }
    .member-eight{
        grid-column: 1/2;
        grid-row: 5;
        width: 20rem;
    }

}
@media screen and (max-width: 405px) {

    .member-list-header{
        width: 23.8rem;
        padding: 0 1rem;
    }
    .member-header{
        width: 25rem;
    }
    .member-title{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 380px) {

    .member-list-header{
        width: 22.2rem;
    }
    .member-header{
        width: 25rem;
    }
    .member-title{
        font-size: 1.3rem;
    }
}