
.member-list-header{
    width: 35rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}
.member-header{
    width: 31rem;
    max-width: 100%;
    text-transform: uppercase;
}
.member-title{
    font-size: 2rem;
    font-weight: 500;
}
.member-hr{
    color: #000;
    margin-top: .5rem;
    border: 2px solid #3088A4;
    border-bottom: 0;
}
.member-list-section{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    width:  100rem;
    max-width: 100%;
    margin: 3rem auto;
    row-gap: 3rem;
    padding: 2rem;
}
.member{
    width: 22rem;
    margin: 0 auto;
}
.member-one{
    grid-column: 1/5;
    grid-row: 1;

}
.member-two{
    grid-column: 2/3;
    grid-row: 2;

}
.member-three{
    grid-column: 3/4;
    grid-row: 2;

}
.member-four{
    grid-column: 1/2;
    grid-row: 3;

}
.member-five{
    grid-column: 2/3;
    grid-row: 3;
}
.member-six{
    grid-column: 3/4;
    grid-row: 3;
}
.member-seven{
    grid-column: 4/5;
    grid-row: 3;
}
.member-img{
    width: 22rem;
    height: 23rem;
    object-fit: cover;
}
@media screen and (max-width: 1540px){
    .member-list-section{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, 1fr);
        width:  55rem;
    }
    .member-one{
        grid-column: 1/3;
        grid-row: 1;

    }
    .member-two{
        grid-column: 1/2;
        grid-row: 2;

    }
    .member-three{
        grid-column: 2/3;
        grid-row: 2;

    }
        .member-four{
        grid-column: 1/2;
        grid-row: 3;

    }
    .member-five{
        grid-column: 2/3;
        grid-row: 3;
    }
    .member-six{
        grid-column: 1/2;
        grid-row: 4;
    }
    .member-seven{
        grid-column: 2/3;
        grid-row: 4;
    }
    .member{
    width: 25rem;
    margin: 0 auto;
}
.member-img{
    width: 25rem;
    height: 100%;
    object-fit: cover;
}

}

@media screen and (max-width: 890px){

    .member-list-section{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        width: 32rem;
    }
    .member-one{
        grid-column: 1/2;
        grid-row: 1;

    }
    .member-two{
        grid-column: 1/2;
        grid-row: 2;

    }
    .member-three{
        grid-column: 1/2;
        grid-row: 3;

    }
        .member-four{
        grid-column: 1/2;
        grid-row: 4;

    }
    .member-five{
        grid-column: 1/2;
        grid-row: 5;
    }
    .member-six{
        grid-column: 1/2;
        grid-row: 6;
    }
    .member-seven{
        grid-column: 1/2;
        grid-row: 7;
    }

}


@media screen and (max-width: 520px) {

    .member-list-header{
        width: 29rem;
    }
    .member-header{
        width: 27rem;
    }
    .member-title{
        font-size: 1.6rem;
    }
    .member{
        width: 25rem;
    }
    .member-img{
        width: 25rem;
    }

}

@media screen and (max-width: 465px) {
        .member-list-header{
        width: 25.5rem;
        padding: 0 1rem;
    }
    .member-header{
        width: 25rem;
    }
    .member-title{
        font-size: 1.5rem;
    }
    .member-list-section{
        grid-template-columns: 1fr;
        width: 25rem;
        padding: 1rem;
    }
    .member{
        width: 22rem;
    }

    .member-img{
        width: 22rem;
        height: 100%;
    }


}
@media screen and (max-width: 405px) {

    .member-list-header{
        width: 23.8rem;
        padding: 0 1rem;
    }
    .member-header{
        width:  23.8rem;
    }
    .member-title{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 390px) {
    .member-list-section{
        grid-template-columns: auto;
        width: 20rem;
        padding: 0;
    }
    .member{
        width: 20rem;
    }

    .member-img{
        width: 20rem;
        height: 100%;
    }

}
