@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');:root{
  --main-font: "Montserrat", sans-serif;
  --sub-font: "Pacifico", cursive;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font)
}
html {
  scroll-behavior: smooth;
}
body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */

}
p{
  margin-bottom: 0;

}
ul{
  padding-left: 0;
}

@media screen and (max-width: 1200px){
  html, body{
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
}
