.office-hours-section{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.map-container{
    height: 40rem;
}
.google-map{
    width: 80rem;
    max-width: 100%;
    height: 40rem;
    border: none;
}
/* SERVICE HOURS */
/* .footer-title{
    margin-bottom: 2rem;
}
.services-hours{
    margin-left: 5rem;
    border: .8rem solid #000;
    padding: 3rem;
    width: 30rem;
}
.footer-hours p{
    font-size: 1.2rem;
    margin: 2rem 0;
}
.hours-span{
    font-weight: 500;
    margin-right: .3rem;
} */